{{page-title "Contacts"}}

<ul>
  {{#each @model.datas as |contact| }}
    <li>{{contact.nom}}</li>
  {{/each}}
</ul>



{{#link-to 'contacts.add' class="btn btn-success"tagName='button'}}ajouter{{/link-to}}

{{outlet}}