{{page-title "Logout"}}

<div class="container" style="margin-top: 100px">

  <div class="card card-block w-100 center">
  <h1 class="display-1 text-center">User disconnected</h1>
    <button {{action "goToIndex" }} class="btn btn-lg btn-primary btn-block text-uppercase">Back to index</button>
  </div>
</div>

{{outlet}}